# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\inha_2020\Internet-programming\lab-5-Abbosjon7788-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
